.DS_Store
/target
/plist.h
*.swp
*.o
*.lo
*.la
*.pc
*.log
*.exe
*~
.kateconfig
configure
compile
config.*
src/Makefile
src/Makefile.in
src/.libs
src/.deps
tools/plistutil
test/Makefile
test/Makefile.in
test/plist_cmp
test/plist_test
test/plist_test++
test/plist_btest
test/plist_jtest
test/plist_otest
test/integer_set
test/data/*.out
test/*.trs
a.out
cpp/examples/build
out.plist
